.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  margin: 0;
  font-family: helvetica, sans-serif, arial;
  color: seashell;
  background-color: black;
  font-size: 22px;
}

/* HEADER */
header {
  width: 100px;
  height: 69px;
  position: fixed;
  color: seashell;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

a {
  text-decoration: underline;
  color: seashell;
}


/* main */
.main {
  margin: auto;
  width: 1200px;
  opacity: 0.9;
  padding-top: 69;
}


/* OUR MISSION */
#mission {
  background-image: url("images/img-mission-background.jpg");
  height: 700px;
  padding-top: : 70px;
}

#mission .text {
  margin: auto;
  width: 100%;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10%;
}

/* TEA OF THE MONTH */
#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.tea img {
  display: block;
  height: 200px;
  width: 300;
  margin: 10%
}

.tea {
  padding: 5px;
}

.tea span {
  display: block;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}


/* LOCATIONS */
#locations {
  height: 500px;
  padding-top: 70px;
  background-image: url("images/img-locations-background.jpg");
}

#locations .flex-container{
  margin: auto;
  width: 1100px;
}

.flex-container.locations {
  padding-top: 10px;
}

.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 10px;
  background-color: black;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  height: 200px;
}

footer {
  text-align: left;
  padding: 20px;
}
